@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fbbf24;
  background-color: #18181b;
}

.bg-gradient {
  background-image: 
    radial-gradient(circle at 30% 40%, rgba(0, 255, 255, 0.1) 5%, transparent 50%),
    radial-gradient(circle at 70% 40%, rgba(149, 0, 255, 0.1) 5%, transparent 50%),
    radial-gradient(circle at 50% 80%, rgba(255, 0, 0, 0.1) 5%, transparent 50%);
}

.bttn-style {
  background-color: #FFBF00;
  color: #000;
  border: 3px solid #000;
  outline: 3px solid #ffbf00;
  box-shadow: 5px 5px 5px #000;
  font-weight: 700;
  border-radius: 4px;
}